*
{
    font-family: "Roboto", sans-serif !important;
}

body{
    position: relative;
}

header
{
    margin-bottom: 10px;
}

#logo
{
    width: 100px !important;
    height: 80px !important;
    margin-right: 15px;

}

#volta{
    clear: bottom;
    margin-bottom: 20px;
}

#navP, .navbar
{
    height: 100px;
    background-color: #00796b !important;
}

#hide
{
    margin-bottom: 15px !important;
}

#main{
    margin-top: 30px !important;
}

#main h4
{
    margin-bottom: 10px !important;
}

.nav-link{color: #fff !important;}

footer
{

    width: 100%;
    height: 40px;
    background-color: #00897b;
    color: #fff;
    /*border: 1px solid red;*/
    margin-bottom: 0px;
}

footer p
{
    float: right;
    font-size: 12px;
    text-align: right;
    width: 300px;
    margin: auto;
}


.show
{
    display: inline-block;
}

.hidee
{
    display: none;
}

footer p{
    text-align: center;
    vertical-align: center !important;
    margin-top: 10px !important;
}

/*header
{
    margin-bottom: 10px;
}

canvas
{
    display: inline !important;
    width: inherit;

}

#can div
{
    display: inline-block!important;
}*

#logo
{
    width: 100px !important;
    height: 80px !important;
    margin-right: 15px;
}




{
    height: 100px;
    background-color: #3f3f3f !important;
}



.dropdown-menu, .dropdown-item
{
    color: #000 !important;
}*/